ul {
    list-style-type: none;
}

li {
    display: inline-block;
    width: 125px;
}

.bkcvr {
    width: 100px;
    
}

.bkinfo {
    display: block;
    width: 100px;
    height: 60px;
    background-color: rgba(255, 192, 203, 0.8);
    text-overflow: ellipsis;  
    white-space: normal;
    overflow: auto;
}

.ulcntr {
    background-color: rgba(128, 0, 128, 0.7);
    width: 1400px;
    
}

add-book-one {
    background-color: gray;
}

.bklnks {
    text-decoration: none;
}